@using Ps12922_HoManhDung_ASM
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Ps12922_HoManhDung_ASM.Constant

@model IEnumerable<Ps12922_HoManhDung_ASM.Models.ViewModels.ViewCart>;
@{ 
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
@{ string Email = Context.Session.GetString(SessionKey.Khachhang.KH_Email);}
@{ string fullName = Context.Session.GetString(SessionKey.Khachhang.KH_FullName);} 

<style>
    .viewProduct, .addProduct {
        border: 0;
        font-weight: 700;
        padding: 9px 5px;
        background: #e65c5c;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        width: 186px;
        margin: 0 auto;
        color: lightgoldenrodyellow;
        text-align: center
    }
        .addProduct:hover {
            text-decoration: none;
            color: black;
        }
        .edit-a{
            text-decoration: none;
            color: red;
        }
            .edit-a:hover {
                text-decoration: none;
                color: red;
            }
</style>
<h1>Cart</h1>
<table class="table table-bordered table-hover table-warning table-striped">
    <thead class="text-center badge-danger">
        <tr>
            <th>STT</th>
            <th>Tittle</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    @{
        int stt = 0;
        double total = 0;
        foreach (var item in Model)
        {
            int iD = @item.MonAn.MonAnID;
            string txt_Id = "txtQuantity_" + iD;
            stt++;
            double totalSub = item.MonAn.Gia * item.Quantity;
            total += totalSub;
            <tr id="tr_@iD">
                <td>
                    @stt
                </td>
                <td>
                    @item.MonAn.Name
                </td>
                <td>
                    <img src="~/images/monan/@item.MonAn.Hinh" style="width:150px" />
                </td>
                <td><input type="number" id="@txt_Id" value="@item.Quantity" /></td>
                <td id="tdGia_@iD">@item.MonAn.Gia</td>
                <td id="tdTien_@iD">@totalSub</td>
                <td>
                    <a class="edit-a" href="javascript:updateCart(@iD);">Cập nhật</a>
                    <a class="edit-a" href="javascript:delCart(@iD);">|Xóa</a>
                </td>
            </tr>
        }
    }
</table>
<p>
    <div>Tổng tiền: <span id="spTotal">@total</span> VNĐ</div>
</p>
<p>
    @if (Email != null && Email != "")
    {
        <a class="addProduct" href="javascript:orderCart(true);">Đặt hàng</a>
    }
    else
    {
        <a class="addProduct" href="javascript:orderCart(false);">Đặt hàng</a>
        <span>Bạn cần đăng nhập để đặt hàng</span>
        }
</p>
<script>
    function delCart(id) {
        $.ajax({
            type: "POST",
            url: "/Home/DeleteCart",
            data: {
                id: id,
            },
            success: function (result) {
                Swal.fire({
                    icon: 'success',
                    title: 'Xóa thành công!',
                    showConfirmButton: false,
                    timer: 1500
                })
                $("#tr_" + id).hide();
                $("#spTotal").html(result);

  
                if (result == "0") {
                    $("#imgCart").attr("src", '/images/cart.png');
                }
            }
        });
    }

    function formatCash(str) {
        return str.split('').reverse().reduce((prev, next, index) => {
            return ((index % 3) ? next : (next + ',')) + prev
        })
    }
    console.log(formatCash('1234567890')) // 1,234,567,890

    function updateCart(id) {
        var soluong = $("#txtQuantity_" + id).val();
        var gia = $("#tdGia_" + id).html();
        var thanhtien = soluong * gia;
        $("#tdTien_" + id).html(formatCash(thanhtien.toString()) + " VNĐ");


        $.ajax({
            type: "POST",
            url: "/Home/UpdateCart",
            data: {
                id: id,
                soluong: soluong
            },
            success: function (result) {
                Swal.fire({
                    icon: 'success',
                    title: 'Cập nhật thành công!',
                    showConfirmButton: false,
                    timer: 1500
                })
                result = formatCash(result.toString());
                $("#spTotal").html(result);
                if (result == "0") {
                    $("#imgCart").attr("src", '/images/cart.png');
                }
            }
        });
    }

    function orderCart(flagLogin) {
        if (!flagLogin) {
            Swal.fire({
                icon: 'error',
                title: 'Bạn cần đăng nhập để đặt hàng.',
                showConfirmButton: true,
                timer: 150000
            })
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/Home/OrderCart",
            data: {
            },
            success: function (result) {
                window.location = "/Home/History";
            }
        });
    }
</script>
